@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

a,
a:hover,
a:visited,
a:active {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  padding: 0;
  margin: 0;
}